body {
 background-color: rgb(230, 230, 230);
 color: rgb(30, 30, 30);
 font-family: monospace;
 font-size: 15px;
 line-height: 13px;
}

h1, h2, h3 {
 font-family: Courier;
}

h1 {
 color: royalblue;
 font-size: 32px;
 font-weight: 900;
}

h2 {
color: steelblue;
 font-size: 20px;
 font-weight: lighter;
 font-weight: 500;
}

a {
 font font-family:Courier ;
 text-decoration: none;
 color: royalblue;
 font-weight: 600;
 font-size: 16px;
}

a:hover {
 color: steelblue;
}

/* Custom design with class*/

.img-circle {
  border-radius: 50%;
}

.btn-blue {
 background-color: royalblue;
 color: white;
 padding: 15px 20px;
 border-radius: 4px;
}
.btn-blue:hover {
 background-color: steelblue;
 color: white;
}

.container {
 width: 700px;
 margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
.card-white {
 background: white;
 padding: 40px;
 margin: 20px 0px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
 border-radius: 4px;
 text-align: center;
 }

.list-inline {
  list-style: none;
  padding-left: 0px;
 }

 .list-inline li {
  display: inline;
  padding: 10px;
 }

 .list-inline i {
  font-size: 50px;
 }

#introduction p {
  margin-bottom: 40px;
 }
